.contenedor{
	max-width: 1170px;
	margin:auto;
  }

.row {
   display: flex;
}
.footer ul{
  list-style: none;
}
.footer{
  background-image: url(./hd-wallpaper-1867616_1920.jpg);
  padding: 20px 0;
  position: relative;


}
.footer-col{
   width: 25%;
   padding: 5%;
}
.footer-col h4{
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #373094;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social-links .facebook:hover{
  color: #2600ff;
  background-color: rgb(53, 31, 197);
}
.footer-col .social-links .twitter:hover{
    color: #24262b;
    background-color: rgb(0, 150, 155);
  }
  .footer-col .social-links .instagram:hover{
    color: #24262b;
    background-color: rgb(184, 70, 178);
  }